<%- include("partials/header"); %>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img class="genshin-impact-logo" src="images/paimon-logo.png" alt=""> GenshinPedia</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <form class="d-flex" method="post" role="search" >
              <input class="form-control me-2" type="search" name="character" placeholder="Character Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit" value="Search" formaction="/post-character">Search</button>
            </form>
          </div>
        </div>
      </nav>

      <!-- Character Display -->
      <div class="container">
        <div class="row text-center">
          <div class="col">
            <h1 class="fw-700 mt-5"> 
              Start Your Journey Today!
              <img class="compass-icon" src="images/compass-icon.webp" alt=""> 
            </h1>
            <h4 class="fw-600"> Take a look below to help get started!</h4>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3 class="fw-700 mt-5 pb-3">
              <img class="character-question-icon" src="images/character-question.jpg" alt=""> 
              Sample of Characters
            </h3>
          </div>
        </div>
        <div class="row py-2">
          <div class="col">
            <h4>
              <img class="character-icon" src="https://genshin.jmp.blue/characters/ganyu/icon" alt="">
              Ganyu
            </h4>
          </div>
          <div class="col">
            <h4>
              <img class="character-icon" src="https://genshin.jmp.blue/characters/xiangling/icon" alt="">
              Xiangling
            </h4>
          </div>
          <div class="col">
            <h4>
              <img class="character-icon" src="https://genshin.jmp.blue/characters/kokomi/icon" alt="">
              Kokomi
            </h4>
          </div>
          <div class="col">
            <h4>
              <img class="character-icon" src="https://genshin.jmp.blue/characters/yun-jin/icon" alt="">
              Yun Jin
            </h4>
          </div>      
        </div>
        <div class="row py-2">
          <div class="col">
            <h4>
              <img class="character-icon" src="https://genshin.jmp.blue/characters/jean/icon" alt="">
              Jean
            </h4>
          </div>
          <div class="col">
            <h4>
              <img class="character-icon" src="https://genshin.jmp.blue/characters/lisa/icon" alt="">
              Lisa
            </h4>
          </div>
          <div class="col">
            <h4>
              <img class="character-icon" src="https://genshin.jmp.blue/characters/tighnari/icon" alt="">
              Tighnari
            </h4>
          </div>
          <div class="col">
            <h4>
              <img class="character-icon" src="https://genshin.jmp.blue/characters/traveler-hydro/icon" alt="">
              Traveler Hydro
            </h4>
          </div>
        </div>
      </div>
</body>
<%- include("partials/footer"); %>