body{
    font-family: 'Montserrat', sans-serif;
}

p{
 
}

.genshin-impact-logo{
    height: 3.5rem;
}

.character-header{
    font-weight: 700;
}

.title-header{
   
}

.skill-talent-block{
   display: inline-block;
   margin: 0 0.5rem 0 0;
}

.character-icon{
    width: 4rem;
}

.weapon-icon{
    width: 4rem;
}

.vision-icon{
    width: 4rem;
}

.talent-icon{
    width: 4rem;
}

.passive-talent-icon{
    width: 3rem;
}

.constellations-icon{
    width: 3rem;
}

.character-image{
    width: 25rem;
}

.custom-table{
    table-layout: fixed;
}

